
# Logs
logs/
*.log
npm-debug.log*

# Build directories
dest/
dist/
build/

# Dependency directories
node_modules/
bower_components/
components/
jspm_packages/

# Optional npm cache directories
.npm

# SASS
.sass-cache/
*.css.map
